[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git

[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
