[submodule "imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git

[submodule]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git